@inject AppState AppState

<button class="btn btn-primary" @onclick="UpdateMessageButtonClicked">Update Message</button>

@code {
    void UpdateMessageButtonClicked()
    {
        AppState.UpdateMessage(this, "Message Updated by Child Component");
    }
}
