@page "/"

@inject AppState AppState
@implements IDisposable


<button class="btn btn-primary" @onclick="ToggleEnabledButtonClicked">Toggle Enabled</button>

<button class="btn btn-primary" @onclick="UpdateMessageButtonClicked">Update Message</button>
<br />
<br />
<h3>@AppState.Message</h3>

<br />
<br />



@code{

    void ToggleEnabledButtonClicked()
    {
        AppState.UpdateEnabled(this, !AppState.Enabled);
    }

    void UpdateMessageButtonClicked()
    {
        string msg = "Message Updated At " + DateTime.Now.ToLongTimeString();
        AppState.UpdateMessage(this, msg);
    }


    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this && AppState.Enabled)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    protected override void OnInitialized()
    {
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }

    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}
