@page "/"

<button class="btn btn-primary" @onclick="ToggleEnabledButtonClicked">Toggle Enabled</button>

<button class="btn btn-primary" @onclick="UpdateMessageButtonClicked">Update Message</button>
<br />
<br />
<h3>@AppState.Message</h3>
<br />
<br />
<ChildComponent/>
@code {
    [CascadingParameter] public CascadingAppState AppState { get; set; }

    void ToggleEnabledButtonClicked()
    {
        AppState.Enabled = !AppState.Enabled;
    }
    void UpdateMessageButtonClicked()
    {
        AppState.Message = "Message Updated at: " + DateTime.Now.ToLongTimeString();
    }
}